<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota Fiscal</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="../../../../public/css/notafiscal.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="voltar">
            <i class="fas fa-arrow-left"></i>
            <span>Voltar</span>
        </div>

        <h1>Nota Fiscal</h1>

        <div class="informacoes">
            <p><strong>Date:</strong> 29/05/2024</p>
            <p><strong>Fornecedor:</strong> Histeria Equipamentos</p>
            <p><strong>Autorizado por:</strong> Alan Cordeiro</p>
            <p><strong>Valor:</strong> R$ 90</p>
        </div>

        <!-- Descrição do pedido -->
        <div class="descricao-pedido">
            <p><strong>Descrição do pedido:</strong> Lorem ipsum dolor sit amet consectetur. Purus lacinia pulvinar morbi praesent egestas senectus non neque sem. Fermentum mi ipsum dictumst ultricies mollis. Amet praesent convallis vivamus rhoncus. Volutpat sit aliquet elementum facilisi consectetur. Amet rhoncus varius iaculis et integer. In eu praesent consequat magnis erat penatibus a. Eu nulla cursus sagittis at gravida a proin sit augue. Massa integer ut interdum orci porta duis diam id pellentesque. Sem viverra iaculis quisque etiam phasellus nullam vestibulum gravida.</p>
        </div>

        <div class="detalhes">
            <div>
                <p class="font-bold">Juliana Silva</p>
                <p>gerente comercial</p>
                <p>julianasilva@live.com</p>
                <p>(87) 961554125</p>
            </div>
            <div class="pedido">
                <p class="font-bold">PEDIDO#</p>
                <p class="text-2xl">0000000</p>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>PRODUTO</th>
                    <th>PREÇO</th>
                    <th>QTD</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item Name / Description</td>
                    <td>R$10</td>
                    <td>1</td>
                    <td>R$10</td>
                </tr>
                <tr>
                    <td>Item Name / Description</td>
                    <td>R$10</td>
                    <td>1</td>
                    <td>R$10</td>
                </tr>
                <tr>
                    <td>Item Name / Description</td>
                    <td>R$10</td>
                    <td>1</td>
                    <td>R$10</td>
                </tr>
                <tr>
                    <td>Item Name / Description</td>
                    <td>R$10</td>
                    <td>1</td>
                    <td>R$10</td>
                </tr>
                <tr>
                    <td>Item Name / Description</td>
                    <td>R$10</td>
                    <td>1</td>
                    <td>R$10</td>
                </tr>
                <tr>
                    <td>Item Name / Description</td>
                    <td>R$10</td>
                    <td>1</td>
                    <td>R$10</td>
                </tr>
            </tbody>
        </table>

        <div class="pagamento">
            <div class="detalhes-pagamento">
                <p><strong>VENCIMENTO:</strong> 03/08/2024</p>
                <p><strong>NFI:</strong> 1235</p>
                <p><strong>NOME:</strong> TWEEB LTDA</p>
                <p><strong>FORMA DE PAGAMENTO:</strong> DEPÓSITO</p>
            </div>
            <div class="totais">
                <p><strong>SUBTOTAL</strong> R$70</p>
                <p><strong>IMPOSTO</strong> R$20</p>
                <p><strong>TOTAL</strong> R$90</p>
            </div>
        </div>

        <div class="termos">
            <p class="font-bold">TERMOS E CONDIÇÕES</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
        </div>
    </div>
</body>
</html>
