.header-container.task-marcos {
    height: 100px;
    display: flex;
    align-items: center;
}

.header-logo.task-marcos img {
    width: 100%;
    margin-top: 35%;
    margin-left: 52%;
}

.mini-navbar.task-marcos {
    margin-top: 21px;
    display: flex;
    width: 100%;
    height: 56px;
    background-color: #2D1B46;
}

.footer.task-marcos {
    display: flex;
    height: 100%;
    background-color: #cef5a4;
    padding: 22px 10px;
    text-align: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-text.task-marcos {
    display: flex;
}

.footer-logo.task-marcos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.footer-logo.task-marcos img {
    width: 150px;
    height: auto;
}

main.task-marcos {
    width: 80%;
    margin: 20px auto;
}

h1.task-marcos {
    margin-top: 50px;
    font-family: sans-serif, 'Poppins';
    font-weight: 100;
    font-size: 17px;
    margin-bottom: 50px;
    color: #000000;
}

.barrinha.task-marcos {
    height: 1px;
    width: 106px;
    background: #000000;
    border: 1px solid;
    border-radius: 5px;
    transform: translateY(-50px);
}

.as.task-marcos {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.cadastrados-title.task-marcos {
    margin-top: 52px;
    color: #8b8b8b;
}

legend.task-marcos {
    font-family: sans-serif;
}

.legenda.task-marcos {
    font-family: sans-serif;
}

form.task-marcos {
    font-family: sans-serif, 'Poppins';
    font-weight: 100;
    padding: 60px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
    left: 55px;
}

.description.task-marcos {
    position: relative;
}

.counter.task-marcos {
    position: absolute;
    right: 50px;
    font-size: 12px;
    color: #000000;
}

.description.task-marcos input {
    background-color: #f2f2f2;
}

fieldset.task-marcos {
    border: none;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

legend.task-marcos {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
}

label.task-marcos {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    gap: 10px;
}

input.task-marcos, select.task-marcos {
    width: 85%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Salvar.task-marcos {
    width: auto;
    padding: 8px 16px;
    background: #FE8C67;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 48px;
}

.Salvar.task-marcos:hover {
    background: #FE8C67;
}

.choose-icon.task-marcos {
    justify-content: center;
    margin-top: -3px;
}

.box1-icon.task-marcos img {
    width: 24px;
    height: 24px;
}

.container-icons.task-marcos {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin-bottom: 18%;
    margin-left: 260px;
}

.box1-icon.task-marcos {
    width: 56px;
    height: 56px;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.container-box1-icon.task-marcos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-icons.task-marcos p {
    width: 80px;
    font-family: sans-serif;
    font-size: 14px;
}
