@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* 90% desse código é inutil e tem que ser apagado depois */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.estoque-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 20px;
}
.estoque-table th, .estoque-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #515151;
    font-weight: 500;
    white-space: nowrap;
  }

.estoque-table .status-estoque{
  color: #10A142;
}

.estoque-table .status-emfalta{
  color: #ED3237;
}

.estoque-table .status-poucasunid{
  color: #F29425;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  border: none;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
}
.activee {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.dropdown {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #eef3ff;
  padding: 10px;
  border-radius: 50%;
}

.pedidos-categoria-selecionado{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  height: 5rem;
  margin-top: 5rem;
}

.pedidos-categoria-selecionado .categorias-estoque{
  display: flex;
  gap: 2rem;
}


.pedidos-categoria-selecionado .categorias-estoque p{
  font-size: 18px;
  font-weight: 500;
  color: #8B8B8B;
  cursor: pointer;
}

.pedidos-categoria-selecionado .categorias-estoque a{
  font-size: 18px;
  font-weight: 500;
  color: #8B8B8B;
  cursor: pointer;
  text-decoration: none;
}


.pedidos-categoria-selecionado .categorias-estoque span p{
  color: black;
  border-bottom: 2px solid black;
}

.estoque-busca input{
  background-color: #F5F5F5;
  border: none;
  outline: none;
  padding: 16px;
  height: 45px;
  width: 300px;
  border-radius: 8px;
  color: #656565;
  font-weight: 500;
}

.adm-estoque-caterogias{
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
  /* flex-wrap: wrap; */
  gap: 2rem;
}

.centralizar-categorias{
  display: flex;
  align-items: center;
  justify-content: center;
}

.estoque-categoria{
  width: 165px;
  height: 136px;
  padding: 16px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.100);
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.estoque-categoria img{
  height: 24px;
  width: 24px;
  background-color: rgb(239, 246, 254);
  border-radius: 4px;
}

.estoque-progresso{
  height: 8px;
  width: 80%;
  border-radius: 5px;
  background-color: #59A1F5;
}

.adm-estoque-caterogias .estoque-categoria h1{
  font-size: 16px;
  font-weight: 600;
}

.adm-estoque-caterogias .estoque-categoria p{
  font-size: 13px;
  color: #C5C5C5;
  white-space: nowrap;
  font-weight: 500;
}

.estoque-categoria:nth-child(2) .estoque-progresso{
  background-color: #FFBA00;
  width: 40%;
}

.estoque-categoria:nth-child(2) img{
  background-color: rgb(255, 249, 230);
}

.estoque-categoria:nth-child(3) .estoque-progresso{
  background-color: #D5011D;
  width: 70%;
}

.estoque-categoria:nth-child(3) img{
  background-color: rgb(255, 230, 233);
}

.estoque-categoria:nth-child(4) .estoque-progresso{
  background-color: #F9F9F9;
  width: 100%;
}

.estoque-categoria:nth-child(4) img{
  background-color: rgb(251, 251, 251);
}

.estoque-categoria:nth-child(5) .estoque-progresso{
  background-color: #00B8FA;
  width: 80%;
}

.estoque-categoria:nth-child(5) img{
  background-color: rgb(251, 251, 251);
}

.estoque-categoria:nth-child(6) .estoque-progresso{
  background-color: #F9F9F9;
  width: 80%;
}

.estoque-categoria:nth-child(6) img{
  background-color: rgb(251, 251, 251);
}


.buscar-filtros{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.filtros-datas{
  width: 95%;
  margin-left: 250px;

}

.datas-botoes{
  margin-top: 2rem;
  display: flex;
  width: 280px;
}

.datas-botoes .botao-ativado{
  background-color: white;
  font-weight: 500;
}

.datas-botoes button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: auto;
  border: 2px solid #D0D5DD;
  padding: 16px 20px;
  height: 40px;
  color: #262626;
  font-size: 14px;
  box-shadow: 0 5px 10px 0.5px rgba(0, 0, 0, 0.100);
  background-color: #f0f2f5;
  white-space: nowrap;
}

.datas-botoes button img{
  width: 16px;
  height: auto;
}

.form-group{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.form-group, .form-group-breakline{
  height: auto;
}

/* .form-group-breakline{
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
} */

.filtro-formulario{
  width: 100%;
}

.filtro-formulario label{
  margin-right: -8px;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  padding: 5px 12px;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  color: #595959;
}

.filtro-formulario label, .filtro-formulario input{
  margin-bottom: 1rem;
}

.filtro-formulario input{
  margin-right: 10px;
  /* height: 29.5px; */
  padding: 5.5px 12px;
  border: 1px solid #d9d9d9;
  border-top-right-radius:  4px;
  border-bottom-right-radius:  4px;
  /* z-index: -2; */ 
}

.filtro-formulario input::placeholder{
  color: rgba(0, 0, 0, 25%);
}

.form-botao-buscar{
  cursor: pointer;
  background-color: #1890ff;
  color: white;
  padding: 5px 16px;
  height: 32px;
  transition: background-color 0.15s ease;
  border-radius: 4px;
}

.form-botao-buscar:hover{
  background-color: #1372ca;
}

.form-botao-limpar{
  cursor: pointer;
  background-color: transparent;
  color: #595959;
  padding: 5px 16px;
  height: 32px;
  transition: background-color 0.15s ease;
  border-radius: 4px;
  border: 1px solid #D9D9D9;
}

.form-botao-limpar:hover{
  background-color: #d9d9d9;
  color: black;
}


.tabela-nota-fiscal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.tabela-nota-fiscal{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  gap: 0.5rem;
  height: 38px;
  width: 86px;
  border: 2px solid #D0D5DD;
}

.tabela-nota-fiscal p{
  font-size: 14px;
  font-weight: 600;
  color: #667085;
}

.tabela-nota-fiscal i{
  color: #667085;
}

/* .centralizar-nota{
  display: flex;
  align-items: center;
  justify-content: center;
} */

.estoque-titulo{
  font-size: 20px;
  font-weight: 600;
  margin-left: 5%;
}

.overflow-estoque{
  overflow: auto;
  width: 80%;
  margin-left: 200px;
}

@media only screen and (max-width: 800px){
  .pedidos-categoria-selecionado{
    flex-direction: column;
    white-space: nowrap;
    height: auto;
    gap: 2rem;
  }

  .pedidos-categoria-selecionado .categorias-estoque{
    flex-direction: column;
    text-align: center;
  }
  .filtros-datas {
    width: 100%;
   margin-left: 0px;
}
.overflow-estoque {
  overflow: auto;
  width: 100%;
  margin-left: 0px;
}
  
  .datas-botoes{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
  }

  .datas-botoes button{
    width: 125px;
  }

  .form-group{
    flex-direction: column;
    align-items: center;
  }

  .filtro-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filtro-formulario label{
    width: 200px;
    margin-right: 0;
  }

  .filtro-formulario input{
    width: 200px;
    margin-right: 0;
  }

  .form-group .form-group-breakline{
    display: flex;
    flex-direction: column;
  }

}