@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.listarU-logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* top: 0; */
    /* z-index: 1; */
    /* box-shadow: 0 0 10px #000; */
    /* background-color: #fff;  */
    padding: 0 20px;
}

/* header .logo {
    margin-right: 20px;
    display: flex;
    align-items: center;
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
} */

.listarU-departments-bar {
    width: 100%;
    height: 48px;
    background-color: #291E40;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}



/*sidebar*/

.SideBar_adm{
    display: flex;
    min-width: 100vh;
    /* background-color: aliceblue; */
}
main{
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
    /* background-color: aliceblue; */
    color: #0a0a0a;
}


.adm_sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 95vh;
    /* width: 256px; */
    border-radius:  0px 12px 12px 0px;
    position: relative;
    top: 100px;
    left: 53px;
    transition: all .5s;
    min-width: 82px;
    gap: 24px;
    right: 1px;
    z-index: 2; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.sidebar_contentAdm{
    padding: 12px;
    padding-left: 25px;
}
.adm_user{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 12px;
    margin-bottom: 24px;
}
#userAdm_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    background-color: #0a0a0a;
}
.userAdm_infos{
    display: flex;
    font-size: 14px;
    flex-direction: column;
}
.userAdm_infos span:last-child{
    color: #0a0a0a;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 20px;
}

.linha {
    height: 2px; 
    background-color: #F6F6F6;
    margin: 10px 0; 
    width: 90%;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    
  }
.menu_sidebarAdm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}
.sidebarAdm-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    border-radius: 8px;
    cursor: pointer;
}
#Favoritos{
    margin-top: 1px;
}
.has-submenu_sidbarAdm .submenu_sidbarAdm{
    list-style: none;
    padding: 1px;
    gap: 8px;
    display: none; 
    transition: all 0.3s ease;
    margin-bottom: 0;
}
.has-submenu_sidbarAdm a #arrow{
    display: none; 
}
#sidebar.open-sidebar .has-submenu_sidbarAdm:hover .submenu_sidbarAdm{
    display: block;
    transition: all 0.3s ease-in-out;
}
#sidebar.open-sidebar .has-submenu_sidbarAdm a #arrow{
    display: inline; 
    transition: transform 0.3s ease; 
    transform: rotate(0deg);
}
#sidebar.open-sidebar .has-submenu_sidbarAdm:hover a #arrow{
    transform: rotate(180deg); 
}
#open_btn_icon{
    transition: transform .3s ease;}
.submenu_sidbarAdm li{
    margin-bottom: 10px;
    margin-left: 20px;
}
.submenu_sidbarAdm li a{
    font-size: 12px;
    color: #0a0a0a;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inder';
    font-weight: 500;
}
.submenu_sidbarAdm li a:hover{
    background-color: #D4E3FF;
    color: #455A64;
}
.sidebarAdm-item.active{
    background-color: #ffffff;
}
.sidebarAdm-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-family: 'Inter';
    gap: 12px;
}
.sidebarAdm-item.active a{
    color:#0a0a0a;
}
.sidebarAdm-item.active a{
    color:#0a0a0a;
}
.sidebarAdm-item a img{
    width: 20px;
    height: 20px;
}
#logout{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}
#logout_btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #0a0a0a;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#logout_btn a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-family:'Inter';
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    gap: 12px;
    white-space: nowrap;
}
#logout_btn a img{
    width: 20px;
    height: 20px;
}
#logout_btn:hover{
    background-color: #D4E3FF;
    color: #000;
}
#sidebar.open-sidebar #logout_btn .itemAdm-descricao{
    width: 150px;
}
#sidebar.open-sidebar #logout_btn{
    justify-content: flex-start;
    gap: 14px;
}
#open_btn{
    position: absolute;
    top: 30px;
    right: -16px;
    background-color: #FFFFFF;
    color: #0a0a0a;
    border-radius: 8px;
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#open_btn_icon{
    transition: transform .3s ease;
}
#open_btn:hover{
    transform: scale(1.1);
}
.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}
.sidebarAdm-item a:hover{
    background-color: #D4E3FF;
}
.has-submenu_sidbarAdm .submenu_sidbarAdm li:hover:not(.active) a{
    background-color: #D4E3FF;
    color: #0a0a0a;
}
.has-submenu_sidbarAdm .submenu_sidbarAdm li.active a{
    background-color: #D4E3FF;
    color: #0a0a0a;
}

.itemAdm-descricao {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    font-family:'Inter';
    font-size: 14px;
    font-weight: 500;
}

 */
#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .itemAdm-descricao {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}


/* Títulos centralizados */
.listarU-titulo-container {
    width: 600px; 
    height: 29px; 
    top: 266px; 
    left: 520px; 
    gap: 32px;

    position: absolute;
    transform: translateX(-50%); /* Ajuste para centralizar de fato */
    display: flex; /* Permite que os títulos fiquem na mesma linha */
    justify-content: center;
}

.listarU-titulo-container a {
    text-decoration: none;
}

.listarU-titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: #8B8B8B;
    
    /* margin: 0;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease; */
}

.listarU-titulo2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color:  #000000;
    border-bottom: 2px solid #000; /* Linha de 2px, cor preta */
}

/* Search */
.listarU-search-box {
    margin: 50px 0 0 280px; 
    display: inline-block;
    margin-left: 480px;
    height: 40px;
}

.listarU-search-container {
    position: relative; 
    display: inline-block;
    left: -100px; 
    top: -560px;
}

.listarU-srch {
    padding: 10px 10px 10px 40px;
    font-size: 14px;
    width: 198px;
    height: 40px;
    border: 2px solid #0000000D;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}

.listarU-srch:focus {
    border-color: black;
    outline: none;
}

.listarU-search-btn {
    position: absolute;
    top: 50%;
    right: 165px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.listarU-search-btn i {
    font-size: 18px;
    color: #828282;
    transition: color 0.3s ease;
}

.listarU-search-btn i:hover {
    color: #000; 
    transform: scale(1.2);
}


/* Caixa de Filtro */
.listarU-filtro-container {
    margin-left: 690px;
    display: inline-block;
    position: absolute; /* Certifique-se de que o posicionamento é absoluto */
    top: 446px; 
    /* padding: 49px; */
    width: auto; /* Ou defina uma largura específica */
}

.listarU-filtro-box {
    display: flex;
    align-items: center;
    background:white; /* Cor de fundo da caixa */
    padding: 10px;
    border: 1px solid #D0D3D9; 
    border-radius: 8px;
    cursor: pointer;
    gap: 10px; /* Espaço entre o ícone e o texto */
}

.listarU-filtro-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.listarU-filtro-box:hover .listarU-filtro-icon {
    transform: scale(1.2); 
}

.listarU-filtro-box span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #828282;
    font-weight: 500;
}




/* Tabela */
.listarU-container {
    display: flex;
    align-items: center; 
    margin-left: 315px; 
    height: 0vh; 
    padding: 20px; /* Dá um pequeno padding para evitar que a tabela encoste nas bordas */
    margin-top: -270px; /* Ajuste conforme necessário */
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 30px;
    display: table-cell;
    font-family: 'Poppins', sans-serif;
    min-width: 600px; 
}

table th, table td {
    border: 1px solid transparent;
    text-align: center; /* Centralizar o conteúdo das células */
}

thead {
    font-family: 'Montserrat', sans-serif; 
    color: #828282;
}

th {
    background-color: #D4E3FF; 
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

tbody td {
    padding: 10px 15px;
    border: none; 
    box-shadow: none;
}

tbody tr {
    border: 2px solid transparent; 
    box-shadow: 0px 0px 6px 2px #0000000D; 
}

tbody tr + tr {
    margin-top: 10px;
}

tbody tr:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 10px 3px #0000000D; 
}

/* Botões editar e excluir */
.listarU-edit-btn {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    gap: 8px; 
}
.listarU-edit-icon {
    width: 20px; 
    height: 20px; 
    transition: transform 0.3s;
    display: block;
}

.listarU-delete-btn {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    gap: 8px;
}
.listarU-delete-icon {
    width: 20px;
    height: 20px; 
    transition: transform 0.3s; 
    display: block;
}

.listarU-edit-icon:hover {
    transform: scale(1.2);
}
.listarU-delete-icon:hover {
    transform: scale(1.2);
}

.td_botao {
    display: flex;           
    gap: 10px;               
    justify-content: center; 
    align-items: center;     
}

tr:hover {
    background-color: #e9e9e9;
}




.footer{
    display: flex;
    height: 100%;
    background-color: #cef5a4;
    padding: 22px 10px ;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 55vh;
}

.footer-text{
    display: flex;
    font-family: 'Arimo Hebrew', sans-serif; /* Aplica a fonte */
    font-style: italic; /* Aplica o estilo itálico */
    font-size: 20px;
    color: #291E40;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.footer-logo img{
    width: 150px;
    height: auto;
}


@media only screen and (max-width: 840px) {
    .footer-logo{
        flex-direction: column;
        gap: 10px;
    }
}

/* Responsividade
@media (max-width: 1024px) {
    .listarU-container {
        margin-left: 0;
        overflow-x: auto;
    }

    table {
        width: 100%;
        min-width: 500px; 
    }

    th, td {
        font-size: 12px;  
        padding: 8px 10px;
    }

    .listarU-titulo {
        padding: 10px 0;
        font-size: 16px; 
    }
}

@media (max-width: 768px) {
    .listarU-container {
        margin-left: 0;
        overflow-x: auto;  
    }

    table {
        width: 100%;
        min-width: 320px;  
        border-collapse: separate;  
        border-spacing: 0 10px;
    }

    th, td {
        font-size: 12px;
        padding: 8px 5px;  
        border: none;
    }

    .listarU-titulo {
        font-size: 14px; 
    }

    tbody td {
        padding: 8px 10px;
        box-shadow: none;
    }

    .listarU-search-box {
        margin-left: 20px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .listarU-srch {
        width: 150px; 
        padding: 8px 8px 8px 30px;
    }

    .listarU-search-btn {
        right: 120px;
    }

    .td_botao {
        gap: 5px; 
        justify-content: center;
    }
} */