.esponder-orcamento-pop_up{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resp-orc-pop_up-box{
    width: 465px;
    height: 196px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #F6F6F6;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* X, Y, desfoque, cor */
}

.resp-orc-pop_pup-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button{
    width: 24px;
    height: 24px;
    border-radius: 29px;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;     
    margin-left: 92%;
    transform: translateY(10px);       
}